@media (min-width: 992px) {
  .responsive {
    display: none;
  }
  .topnav {
    display: flex;
    flex-direction: inherit;
    align-items: center;
    margin: auto;
    max-height: 100%;
  }

  .topnav a {
    text-align: center;
    color: white;
    border-right: 2px solid #ffffff;
    max-height: 50px;
    padding: 5px;
    margin: 10px 0px;
    text-decoration: none;
  }

  .topnav a:nth-child(5) {
    border: none;
  }

  .topnav a:hover {
    background-color: #bdb4d3;
    color: black;
  }

  #hamburger {
    display: none;
  }
  .home-section-container {
    grid-template-columns: 1fr 1fr;
    margin: 0 15px;
  }

  .footer-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .footer-socialmedia {
    grid-column-start: 4;
    grid-row: 1 / 2;
    text-align: center;
    align-self: center;
  }
  .footer-socialmedia img {
    max-width: 15%;
  }

  .footer-credit {
    grid-column-start: span 4;
  }

  /*MISSSIONARY PAGE*/

  .missionary-main .temple-sub-contact {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 50% 50%;
  }

  .missionary-main > .contact-sub-heading:first-child {
    grid-column: span 2;
  }

  .missionary-services {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
  }

  .missionary-amenities {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
  }

  .missionary-main-photo {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 50% 50%;
    justify-items: center;
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column: span 2;
  }

  /*WEDDING PAGE*/

  .wedding-title {
    text-align: center;
    color: #74d3ae;
  }

  .wedding-main {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 50% 50%;
    justify-items: center;
    text-align: center;
  }
  .wedding-main :first-child {
    grid-column-start: 1;
    grid-column-end: 3;
  }
  #wedding-head-img {
    grid-row: 2 / span 2;
    grid-column: 1 / span 2;
    max-width: 50%;
  }
  .wedding-main img {
    max-width: 75%;
  }

  .wedding-main p {
    margin: 15px 100px;
  }
  .temple-sub-contact {
    text-align: center;
  }
}
