* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

body {
  font-size: 16px;
  font-family: 'ZCOOL XiaoWei', serif, 'Quattrocento', serif;
  color: black;
  background-color: #eeeded;
}

h1,
h2,
h3 {
  font-family: 'Bad Script', cursive, 'Patrick Hand', cursive;
}

ul {
  list-style-type: none;
  padding: 3px;
}

/*HEADER*/
.top-bar-container {
  padding: 5px;
  margin: auto;
  list-style: none;
  height: 60px;
  width: 100%;
  background-color: #757780;
  color: white;
  display: flex;
  flex-direction: row;
  position: relative;
  /* align-items: center;
  justify-content: space-between; */
}

.top-bar-title h1 {
  margin: auto 15px;
  font-size: inherit;
}
#title-id-large {
  display: none;
}
.top-bar-image {
  display: flex;
  background: #eeeded;
}
.top-bar-image > img {
  max-height: 100%;
  background-color: #eeeded;
}
.top-bar-title {
  display: flex;
  align-items: center;
}

/*NAVIGATION*/

.nav-container {
  display: flex;
  align-items: center;
  flex-grow: 3;
  justify-content: flex-end;
  padding-right: 10px;
}
.topnav {
  display: none;
}

.responsive {
  position: absolute;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  max-width: 1080px;
  top: 60px;
  left: 0px;
  right: 0px;
  background: #757780;
  flex: 1;
  z-index: 7;
}

.responsive a {
  text-decoration: none;
  min-width: 100%;
  color: inherit;
  display: block;
  font-size: 1.8rem;
  flex: 1;
  text-align: center;
  z-index: 8;
}

#hamburger a {
  text-decoration: none;
  color: white;
}

.active {
  background-color: #74d3ae;
  color: #eeeded;
}

.topnav a:hover {
  background-color: #bdb4d3;
  color: black;
}

/*MAIN STYLES*/
.main-container {
  display: grid;
  grid-template-columns: 8px auto 8px;
  grid-template-rows: 225px 150px;
}

.main-title {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row: span 1;
  text-align: center;
  align-self: center;
  color: #74d3ae;
  font-size: 1.9em;
}

.call-button {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row: span 2;
  text-align: center;
  align-self: center;
}

.call-button a {
  background-color: #757780;
  color: white;
  padding: 14px;
  text-decoration: none;
  border-radius: 10px;
}

.call-button a:hover {
  background-color: #74d3ae;
  color: black;
}

/*HOME SECTION*/

.home-section-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 1em;
  grid-row-gap: 1em;
}

.home-section-container h2 {
  text-align: center;
  margin: 10px;
  color: #757780;
}

.home-section-summary {
  margin-top: 15px;
}

.home-section-image img {
  width: 100%;
  height: auto;
}

.home-section-container p {
  border-top: solid 5px #74d3ae;
  padding: 0 10px;
}

/*FOOTER*/
footer {
  background-color: #757780;
  margin-top: 20px;
  padding: 10px 10px 0 10px;
}

.footer-links-home,
.footer-links-about {
  text-align: center;
  align-self: center;
  color: black;
}

.footer-links-home li,
.footer-links-about li {
  margin: 5px 0;
}

.footer-links-home li a:link,
.footer-links-about li a:link,
.temple-sub-gallery a:link {
  color: black;
}

.footer-links-home li a:visited,
.footer-links-about li a:visited,
.temple-sub-gallery a:visited {
  color: #74d3ae;
}
.footer-links-home li a:hover,
.footer-links-about li a:hover,
.temple-sub-gallery a:hover {
  background-color: #74d3ae;
  color: white;
}

.footer-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 1em;
  grid-row-gap: 1em;
}

.footer-socialmedia {
  grid-column-start: span 3;
  grid-row: 2 / 3;
}

.footer-socialmedia img {
  max-width: 6%;
  margin: auto 5px;
}

.footer-credit {
  grid-column-start: span 3;
  grid-row: span 3;
  text-align: center;
  margin-bottom: 15px;
}

/*TEMPLE SUB PAGES*/

.temple-sub-main-container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
}

.temple-sub-heading {
  grid-column-start: span 1;
  text-align: center;
  align-self: center;
  color: #74d3ae;
  font-size: 1.9em;
}
.temple-sub-gallery {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
}
.temple-sub-gallery img {
  max-width: 90vw;
  grid-column-start: span 1;
  margin: auto;
  text-align: center;
  align-self: center;
}

.temple-sub-gallery a {
  margin: 10px 10px;
}

.temple-sub-main-container a {
  color: black;
}

.temple-sub-main-container a:link {
  color: black;
}

.temple-sub-main-container a:visited {
  color: #74d3ae;
}
.temple-sub-main-container a:hover {
  background-color: #74d3ae;
  color: white;
}
.temple-sub-contact {
  margin: 10px 10px;
}

/*RESERVATIONS */

.reservations-main {
  display: inline-flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: relative;
  width: 100%;
  color: black;
}

.reservations-form {
  position: absolute;
  margin: auto;
  text-align: end;
  padding: 10px 10px;
  align-self: center;
}

label,
legend {
  background: #0000006b;
  padding: 2px;
  color: white;
}

div > input {
  margin: 5px 0;
}

.reservations-background-photo img {
  width: 100%;
  height: auto;
  opacity: 0.85;
}

input:required,
textarea:required {
  box-shadow: inset 0px 0px 6px #74d3ae;
}
.submit-button {
  margin: 5px;
}

#reservation-footer {
  margin-top: 0;
}

/*CONTACT PAGE*/

.contact-title {
  text-align: center;
  color: #74d3ae;
}
.contact {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  text-align: center;
  justify-content: center;
  padding: 10px;
}

.contact-sub-heading {
  grid-column-start: span 1;
  margin: 15px;
}
.contact-leftcol li h3 {
  color: #74d3ae;
  font-size: 150%;
  margin: 15px;
}
.contact-leftcol {
  grid-template-columns: auto;
  grid-template-rows: auto;
}

ul.contact-leftcol li img {
  max-width: 5%;
}
.contact-map {
  grid-column-start: span 1;
  margin: 15px 0;
  text-align: center;
}

/*MISSSIONARY PAGE*/
.contact-sub-heading {
  text-align: center;
}
.missionary-main {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto;
}
.missionary-services,
.missionary-amenities {
  margin: 25px;
}
.missionary-services li,
.missionary-amenities li {
  margin: 25px;
  border-top: 5px solid #74d3ae;
}

.missionary-main-photo {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto;
  justify-items: center;
}
.missionary-main-photo img {
  padding: 15px;
}

/*WEDDING PAGE*/

.wedding-title {
  text-align: center;
  color: #74d3ae;
}

.wedding-main {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto;
  justify-items: center;
  text-align: center;
}

.wedding-main img {
  width: 100vw;
}
.wedding-main img,
.wedding-main h4 {
  margin: 15px 0;
}

.wedding-main p {
  margin: 15px 15px;
}
